[submodule "mTask"]
	path = mTask
	url = https://github.com/MadhavDesai207/mTask.git
[submodule "tic-tac-toe"]
	path = tic-tac-toe
	url = https://github.com/MadhavDesai207/tic-tac-toe.git
[submodule "stone-paper-scissors"]
	path = stone-paper-scissors
	url = https://github.com/MadhavDesai207/stone-paper-scissors.git
[submodule "mInventra"]
	path = mInventra
	url = https://github.com/MadhavDesai207/mInventra.git
